body {
  background: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Quotes {
  margin: 150px auto;
  padding: 70px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  max-width: 500px;
  background: white;
}
